@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Meduim.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  color: #cacaca;
  font: 18px/1.5 Roboto, sans-serif;
  background: #3c3b3d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 38px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 24px;
  }
}
@media (max-width: 414px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}
.gen-wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1240px) {
  .content-container {
    max-width: 1200px;
    margin: 0 20px;
  }
}
.m-0 {
  margin: 0;
}

.btn {
  display: block;
  padding: 20px 30px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
}

.bg-black {
  background-color: #08020d;
}

.header {
  position: relative;
}

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 11px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}

.logo-img {
  width: 24px;
  height: 24px;
}

.nav {
  margin: 0 auto 0 90px;
}

@media (max-width: 800px) {
  .nav {
    margin: 0 auto 0 45px;
  }
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  list-style: none;
}

.nav-link {
  color: #cacaca;
  text-decoration: none;
}
.nav-link:hover {
  color: #fff;
}

.header-search {
  width: 248px;
  height: 25px;
  padding: 5px 0 5px 10px;
  background: #3c3b3d;
  border-radius: 50px;
}

@media (max-width: 605px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
  }

  .nav {
    margin: 0;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .header-search {
    width: 100%;
  }
}
.page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.page-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 200px 0;
  color: #fff;
}

.page-description-text {
  margin: 31px 0 17px 0;
}

.page-description-form {
  max-width: 570px;
  width: 100%;
}

.form-group-input {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.form-input {
  display: block;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  flex-grow: 1;
  color: #fff;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
}

.form-input::placeholder {
  color: #fff;
}

.form-submit {
  width: 100%;
  color: #fff;
  background: #34c176;
}

@media (max-width: 605px) {
  .page-description-container {
    padding: 250px 0 201px 0;
  }

  .page-description-text {
    font-size: 16px;
  }

  .form-group-input {
    flex-direction: column;
    gap: 0;
  }
}
.page-pricing-container {
  padding-top: 100px;
  color: #fff;
  text-align: center;
}

.pricing-body {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 43px 0;
}

.pricing-item {
  flex: 0 0 30.75%;
  padding: 24px 1.5rem 0 1.5rem;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}

.pricing-item:nth-child(1) {
  background-image: url("../images/subscribe_1.png");
}

.pricing-item:nth-child(2) {
  background-image: url("../images/subscribe_2.png");
}

.pricing-item:nth-child(3) {
  background-image: url("../images/subscribe_3.png");
}

.pricing-item-value {
  margin: 200px 0 40px 0;
  font-size: 64px;
  line-height: 1em;
}

.pricing-currency {
  padding-left: 15px;
  vertical-align: top;
  font-size: 32px;
  line-height: 1.5;
}

.pricing-btn-submit {
  width: 100%;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
}

.pricing-item-footer {
  margin: 64px 0;
  font-size: 12.8px;
}

.pricing-footer {
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
