@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Meduim.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  color: #cacaca;
  font: 18px/1.5 Roboto, sans-serif;
  background: #3c3b3d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 38px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 24px;
  }
}
@media (max-width: 414px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gen-wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1240px) {
  .content-container {
    max-width: 1200px;
    margin: 0 20px;
  }
}
.m-0 {
  margin: 0;
}

.btn {
  position: relative;
  display: block;
  padding: 20px 30px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.bg-black {
  background-color: #08020d;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

nav .active {
  color: #fff;
}

.header {
  position: relative;
}
.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 11px;
}
.header-search {
  width: 248px;
  height: 25px;
  padding: 5px 0 5px 10px;
  background: #3c3b3d;
  border-radius: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}
.logo-img {
  width: 24px;
  height: 24px;
}

.nav {
  margin: 0 auto 0 90px;
}
@media (max-width: 800px) {
  .nav {
    margin: 0 auto 0 45px;
  }
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.nav-link {
  color: #cacaca;
}
.nav-link:hover {
  color: #fff;
}

@media (max-width: 605px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
  }

  .header-search {
    width: 100%;
  }

  .nav {
    margin: 0;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}
.page-description {
  background-position: center;
  background-size: cover;
}
.page-description-container {
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  color: #fff;
}
@media (max-width: 605px) {
  .page-description-container {
    padding: 250px 0 201px 0;
  }
}

.description-main-bg {
  background-image: url("../images/banner.png");
}
.description-main-container {
  align-items: center;
  text-align: center;
}
.description-main-text {
  margin: 31px 0 17px 0;
}
.description-main-form {
  max-width: 570px;
  width: 100%;
}

.form-group-input {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.form-input {
  display: block;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  flex-grow: 1;
  color: #fff;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
}

.form-input::placeholder {
  color: #fff;
}

.form-submit {
  width: 100%;
  color: #fff;
  background: #34c176;
}

@media (max-width: 605px) {
  .description-main-text {
    font-size: 16px;
  }

  .form-group-input {
    flex-direction: column;
    gap: 0;
  }
}
.description-artist-bg {
  background-image: url("../images/Morten Harket.png");
}
.description-artist-container {
  align-items: flex-start;
  text-align: center;
}
.description-artist-text {
  margin: 16px 0 48px 0;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  font-size: 12.8px;
}
.btn-hero {
  position: relative;
  width: 200px;
  font-size: inherit;
  padding-left: 67px;
  text-align: left;
}
.btn-hero::before {
  position: absolute;
  content: "";
  left: 31px;
  width: 20px;
  height: 20px;
  filter: invert(100%);
}
.btn-mix {
  background-color: #5328a1;
}
.btn-mix::before {
  background: url("../images/heart.svg") no-repeat;
}
.btn-favorites {
  background-color: #95390c;
}
.btn-favorites::before {
  background: url("../images/play-button.svg") no-repeat;
}

.page-pricing-container {
  padding-top: 100px;
  color: #fff;
  text-align: center;
}

.pricing-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0 43px 0;
}

.pricing-item {
  flex: 0 0 30.75%;
  padding: 24px 1.5rem 0 1.5rem;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}

.pricing-item:nth-child(1) {
  background-image: url("../images/subscribe_1.png");
}

.pricing-item:nth-child(2) {
  background-image: url("../images/subscribe_2.png");
}

.pricing-item:nth-child(3) {
  background-image: url("../images/subscribe_3.png");
}

.pricing-item-value {
  margin: 200px 0 40px 0;
  font-size: 64px;
  line-height: 1em;
}

.pricing-currency {
  padding-left: 15px;
  vertical-align: top;
  font-size: 32px;
  line-height: 1.5;
}

.pricing-btn-submit {
  width: 100%;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
}

.pricing-item-footer {
  margin: 64px 0;
  font-size: 12.8px;
}

.pricing-footer {
  font-size: 16px;
}

@media (max-width: 800px) {
  .pricing-body {
    justify-content: center;
    gap: 50px;
  }

  .pricing-item {
    flex: 0 0 41%;
  }
}
@media (max-width: 550px) {
  .pricing-item {
    flex: 1 0 85%;
  }
}
.page-news-container {
  padding: 100px 0 0 0;
}

.page-news-title {
  text-align: center;
  margin: 0 0 48px 0;
}

.news-item {
  display: flex;
  gap: 50px;
}

.news-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.news-item-img {
  max-width: 575px;
  max-height: 286px;
  width: 100%;
  height: 100%;
}

.news-item:not(:last-child) {
  margin-bottom: 65px;
}

.news-title {
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: normal;
  text-transform: capitalize;
}

.news-text {
  margin: 30px 0 24px 0;
  font-size: 16px;
}

.news-author {
  margin: 0 0 48px 0;
  font-size: 12px;
}

.author-name {
  margin: 0 16px;
  color: #f89202;
}

.news-btn {
  display: inline-block;
  padding: 16px 30px;
  text-decoration: none;
  font-size: 12px;
  color: #cacaca;
  border: 1px solid #cacaca;
}

@media (max-width: 1000px) {
  .news-item,
.news-item:nth-child(odd) {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .news-title {
    font-size: 16px;
  }
}
.page-app-container {
  padding: 100px 0;
}

.app-title {
  text-align: center;
}

.app-body {
  display: flex;
  padding-top: 48px;
  gap: 16px;
}

.app-text {
  max-width: 600px;
  width: 100%;
  font-size: 16px;
}

.btn-download {
  padding: 16px 40px;
  font-size: 12.8px;
  color: #fff;
  text-transform: none;
  background-color: #95390c;
  border-radius: 32px;
}

.app-img {
  margin: 0 auto;
}

@media (max-width: 800px) {
  .app-body {
    flex-direction: column-reverse;
  }

  .app-text {
    max-width: 100%;
  }
}
@media (max-width: 460px) {
  .app-img {
    width: 100%;
  }
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 3rem 0 72px 0;
}
.footer-subtitle {
  padding: 0 0 15px 0;
  font-size: 18px;
}
.footer-item {
  max-width: 270px;
  width: 100%;
}
.footer-social {
  display: flex;
  gap: 24px;
}
.footer-link {
  color: #e0e0e0;
  font-size: 16px;
}
.footer-line {
  height: 2px;
}
.footer-bottom {
  padding: 2rem 0 49px 0;
}
.footer-bottom-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 605px) {
  .footer-top {
    gap: 30px;
  }
  .footer-bottom-nav {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
