.footer {
  &-top {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    padding: 3rem 0 72px 0;
  }

  &-subtitle {
    padding: 0 0 15px 0;
    font-size: 18px;
  }

  &-item {
    max-width: 270px;
    width: 100%;
  }

  &-social {
    display: flex;
    gap: 24px;
  }

  &-link {
    color: $grey;
    font-size: 16px;
  }

  &-line {
    height: 2px;
  }

  &-bottom {
    padding: 2rem 0 49px 0;
  }

  &-bottom-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  @media (max-width: 605px) {
    &-top {
      gap: 30px;
    }

    &-bottom-nav {
      flex-direction: column;
    }
  }
}
