.page-description {
  background-position: center;
  background-size: cover;

  &-container {
    display: flex;
    flex-direction: column;

    padding: 200px 0;

    color: #fff;

    @media (max-width: 605px) {
      padding: 250px 0 201px 0;
    }
  }
}
