.popular-track-container {
  padding: 100px 0 0 0;
}

.popular-track-body {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
  padding: 48px 0 0 0;
}

.track {
  display: flex;
  width: 47%;
  align-items: center;

  color: $grey;
  font-size: 12.8px;

  @media (max-width: 875px) {
    width: 100%;
  }

  &-img {
    width: 55px;
    height: 55px;
    margin: 0 15px 0 0;
  }

  &-info {
    flex-grow: 1;
  }

  &-name {
    font-size: inherit;
    font-weight: bold;
  }
}
