.page-pricing-container {
  padding-top: 100px;

  color: #fff;
  text-align: center;
}

.pricing-body {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 43px 0;
}

.pricing-item {
  flex: 0 0 30.75%;
  padding: 24px 1.5rem 0 1.5rem;

  border-radius: 1rem;

  background-position: center;
  background-size: cover;
}

.pricing-item:nth-child(1) {
  background-image: url('../images/subscribe_1.png');
}

.pricing-item:nth-child(2) {
  background-image: url('../images/subscribe_2.png');
}

.pricing-item:nth-child(3) {
  background-image: url('../images/subscribe_3.png');
}

.pricing-item-value {
  margin: 200px 0 40px 0;

  font-size: 64px;
  line-height: 1em;
}

.pricing-currency {
  padding-left: 15px;
  vertical-align: top;

  font-size: 32px;
  line-height: 1.5;
}

.pricing-btn-submit {
  width: 100%;

  color: #fff;

  border: 1px solid #fff;

  text-decoration: none;
}

.pricing-item-footer {
  margin: 64px 0;

  font-size: 12.8px;
}

.pricing-footer {
  font-size: 16px;
}
